body {
    background-image: url("food.png");
    
    text-align: center;
}

.margin {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 90px;
    margin-bottom: -20px;
   
}

.bg-2 {
    margin-top: 30px;
}

.start {
    padding: 10px;
    font-size: 20px;
    background-color: #008CBA;
    color: white;
    font-family: 'Amatic SC', cursive;
}

#right-counter {
    display: inline-block;
    word-spacing: 3px;
    position: relative;
    left: -10px;
   
   
}

#wrong-counter {
    display: inline-block;
    word-spacing: 3px;
    position: relative;
    right: -10px;
   
}

#button {
    padding: 20px;
    font-size: 12px;
    
}
p {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-emphasis-color: black;
    
}

/* #title {
    background-color: rgb(245, 92, 72);
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 0px;
}

#body {
    background-color: rgb(245, 92, 72);
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 0px;
} */